<div class="bg-blue-gradient">
    <div class="container">

        <!-- showcase -->
        <section id="showcase">
            <div class="column">
                <div class="content">
                    <p>Promote any product, service or online course.</p>
                    <h1>Get every it Services Here</h1>
                    <div class="items">
                        <div class="item">
                            <img src="images/red-circle.svg" alt="">
                            <span>IT Product</span>
                        </div>
                        <div class="item">
                            <img src="images/blue-circle.svg" alt="">
                            <span>IT Services</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <img class="showcase-image" src="images/person-male.svg" alt="">
            </div>
      </section>
    </div>
</div> 
 <!-- about us -->
    <section id="aboutus" class= "container">
        <div class="column">
            <div class="content">             
               <img class="aboutus-image" src="images/Group24.svg" alt""/>
            </div>
        </div>
        <div class="column" id="text" >
            <div class="content" >
                <div class="item">
                  <span> About Us </span>
                  <img src="images/line.svg" alt="">
                </div>                 
            <h3>You can't use up creativity .</h3>
            <h5>Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</h5>
              <span class="items">
                    <img src="images/Group33.svg" alt="">
                     <span> Years Of<br> Experience</span>
                 </span>
                    <div class ="twobtn">
                <span>
                     <a href="#" id="learn-more" class="btn btn-main">Learn More</a>
                     <a href="#" id="vidio-intro" class="btn  btn-secondary">video Intro Video</a>
                </span>
            </div>
            </div>               
        </div>
    </section>
    <!-- How we growth  -->
       <div class="groth" >
        <div class="container"  >
        <section id="we-growth">
            <div class="column">
              <div class="content"> 
                     <div class="item">
                  <span> Intro  </span>
                  <img src="images/line.svg" alt="">
                </div> 
                <h3>How we growth our business.</h3>
                <h4>The introduction of cloud and mobile technologies into enterprise software.</h4>
                <h5>hether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</h5>
                 <a href="#" id="learn-more" class="btn btn-main">Learn More</a>
              </div>
            </div >
              <div class="column">
            <div class="content">             
               <img class="wegroth-image" src="images/Component2.svg" alt""/>
            </div>
        </div>
        </section>
     </div> 
     </div>
     <!--  Book a Meeting  -->
     <div id="book">
         <div class="container">
             <section class="content">
                 <h2 class="meeting">
                     Book a Meeting
                 </h2>
                 <h5 class="does">Does any industry face a more complex audience journey and<br>marketing sales process than B2B technology.</h5>
                 <form id="contactForm" class="row"  onsubmit="onSubmit(event)" novalidate>
                <div class="content d-flex justify-content-center ">
                    <div class="col-6 ">
                         <input id="contactForm-name" type="text" class="form-control mb-3 col-6 needs-validation" required placeholder="Enter your name" aria-label="Enter your name">
                      <div id="contactForm-name-error" class="invalid-feedback mt-0"><small>Du måste ange ge ett giltigt namn</small></div>
                    </div>
                   
                    <div class="col-6 ">
                         <input id="contactForm-email" type="email" class="form-control col-6 needs-validation" required placeholder="Enter your email" aria-label="Enter your email">
                     <div id="contactForm-email-error" class="invalid-feedback"><small>Du måste ange en giltig e-postadress</small></div>

                    </div>
                    
                </div>
                 <div class="mb-3">
                    <textarea  class="form-control needs-validation"  rows="3" placeholder="Enter your questions & subject here."> </textarea>
                     <div id="contactForm-message-error" class="invalid-feedback"><small>Ditt meddelande måste vara minst 5 tecken långt</small></div>                
                </div>
                <div class="su">
                     <button id="contactForm-submit"  class="submit  mt-4 btn btn-main">Book a Meeting Now</button>
                </div>
                </form>              
             </section>
         </div>
     </div>
       <!--  Working Hours  -->
       <div class="hours">
           <div class="container">
               <section id="Working-Hours">
                <div class="column">
                   <div class="content">
                     <h2>OmniVus.</h2>
                     <h5>The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassi Group has changed too, as have the things that we bring to our community 
                         conferences, books, and our membership added to the online magazine.<br> 
                         <br />
                         <br >
                         One thing that hasn’t changed is that we’re a small team — with most of us not working</h5>
                          <img class="line1-image" src="images/line1.svg" alt""/>
                      
                          <h4>Copyright © Mattin-Lassei Group AB - 2022</h4>
                   </div>
                </div>
                <div class="container">
                    <div class="column">
                        <div class="content">
                            <h2 class="Working"> Working Hours </h2>
                            <h4 class="timm"> Monday - Friday: 7:00 - 17:00<br >
                                  <br >
                                Saturday: 7:00 - 12:00<br >
                               <br >
                                Sunday and holidays: 8:00 - 10:00</h4>
                                <h5 class="formore"> <strong>For more then 15 years,</strong> IT Service has been a <br /> reliable partner in the field of logistics and<br /> cargo forwarding.</h5>
                                <img class="t-image" src="images/Group43.svg" alt""/>
                        </div>
                        

                    </div>
                    
                </div>

               </section>
           </div>
       </div>
   
