@model Asp_Mvc.Data.ImageEntity

@{
    ViewData["Title"] = "Upload your Profile Image";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="container mt-3">
<h4>Upload your Profile Image</h4>
<hr />

<div class="row ">
    <div class="col-md-4 ">
        <form asp-action="FileUpload"   enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="mb-2">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" type="file"/>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <input type="submit" value="Upload Image" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

