
<header>
    <div class="container">
        <div class="header-grid">
            <div id="branding">
                <h1>OmniVus.</h1>
                <p>IT Service & Technology</p>
            </div>
            <nav id="top-menu">
                <a href="mailto:info@domain.com">info@domain.com</a>
                      @if(SignInManager.IsSignedIn(User))
                {
                   <div class="social">
                               <a  class="nav-link text-dark" asp-controller="Profile" asp-action="Index">@User.FindFirst("DisplayName").Value</a>

                    </div>          
                }

                else
                {

                <div class="social">
                    <a href="https://facebook.com">facebook</a>
                    <a href="https://twitter.com">twitter</a>
                    <a href="https://linkedin.com">linkedin</a>
                    <a href="https://youtube.com">youtube</a>
                </div>
                }
   
            </nav>
           
            <nav id="main-menu">
                <div class="menu-items">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Services" asp-action="Index">Services</a>
                    <a asp-controller="Contacts" asp-action="Index">Contacts</a>
                
                </div>
                
               @if(SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Authentication" asp-action="SignOut" class="btn btn-main">Logga ut</a>
                }
                else
                {
                   <a asp-controller="Authentication" asp-action="SignIn" class="btn btn-main">Logga in</a> 
                }        
                </nav>
        </div>
    </div>
</header>