<div class="bg-blue-gradient">
    <div class="container">

        <!-- pagetitle -->
        <section id="page-title">
            <div class="content">
                <h1>Services</h1>
                <div class="breadcrumb">
                    <a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="Services" asp-action="Index">Services</a>
                </div>
            </div>
        </section>

    </div>
</div>
 <div class="mmm container">
     <section class="content">
         <div class="row row-cols-1 row-cols-md-3 g-3">

  <div class="d-flex justify-content-center g-3 ">
    <div class="card-body" >
      <img src="images/1.svg" class="card-img-top" alt="...">
    </div>

  </div>
  <div class="d-flex justify-content-center">
    <div class="card-body" >
      <img src="images/2.svg" class="card-img-top" alt="...">
    </div>

  </div>
  <div class="d-flex justify-content-center">
    <div class="card-body" >
      <img src="images/3.svg" class="card-img-top" alt="...">      
    </div>

  </div>
  <div class="d-flex justify-content-center">
    <div class="card-body">
      <img src="images/4.svg" class="card-img-top" alt="...">   
    </div>

  </div>
   <div class="d-flex justify-content-center">
    <div class="card-body">
      <img src="images/5.svg" class="card-img-top" alt="...">      
    </div>

  </div>
   <div class="d-flex justify-content-center">
    <div class="card-body">
      <img src="images/6.svg" class="card-img-top" alt="...">     
    </div>

  </div>
</div>
     </section>
 </div>
  <div class="hours">
           <div class="container">
               <section id="Working-Hours">
                <div class="column">
                   <div class="content">
                     <h2>OmniVus.</h2>
                     <h5>The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassi Group has changed too, as have the things that we bring to our community 
                         conferences, books, and our membership added to the online magazine.<br> 
                         <br />
                         <br >
                         One thing that hasn’t changed is that we’re a small team — with most of us not working</h5>
                          <img class="line1-image" src="images/line1.svg" alt""/>
                      
                          <h4>Copyright © Mattin-Lassei Group AB - 2022</h4>
                   </div>
                </div>
                <div class="container">
                    <div class="column">
                        <div class="content">
                            <h2 class="Working"> Working Hours </h2>
                            <h4 class="timm"> Monday - Friday: 7:00 - 17:00<br >
                                  <br >
                                Saturday: 7:00 - 12:00<br >
                               <br >
                                Sunday and holidays: 8:00 - 10:00</h4>
                                <h5 class="formore"> <strong>For more then 15 years,</strong> IT Service has been a <br /> reliable partner in the field of logistics and<br /> cargo forwarding.</h5>
                                <img class="t-image" src="images/Group43.svg" alt""/>
                        </div>                     
                    </div>                   
                </div>

               </section>
           </div>
       </div>